$placeholder-color: red;

* {
  margin: 0;
  padding: 0;
}

.placeholders-container {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 270px;
}


@mixin placeholder ($width, $height, $border-radius, $margin-bottom: 0) {
  width: $width;
  height: $height;
  background: $placeholder-color;
  border-radius: $border-radius;
  margin-bottom: $margin-bottom;
  opacity: .1;
}

.text_placeholder {
  @include placeholder(270px, 15px, 5px, 19px);
  &-bottom {
    @include placeholder(140px, 15px, 5px, 67px);

  }
}
.label_placeholder{
  @include placeholder(58px, 10px, 3px, 9px);
}
.input_placeholder{
  @include placeholder(270px, 36px, 10px, 22px);
}

.button_placeholder{
  @include placeholder(157px, 37px, 20px);
  margin: 26px auto 0 auto;
}


