.header {
    width: 100%;
    height: 50px;
    background: tomato;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content-wrapper {
    width: 100%;
    max-width: 1140px;
    box-sizing: border-box;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header nav {

}

.header__logo {
    font-size: 30px !important;
    line-height: 30px !important;
    color: #fff;
}

a.header__logo {
    cursor: pointer;
}


.header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header li {
    margin: 0 10px;
}

.header li:last-of-type {
    margin-right: 0;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    filter: brightness(.9);
    cursor: pointer;
}

.header a:hover {
    filter: brightness(1);
}
