.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0;
}

.counter {
  font-size: 100px;
  font-weight: 600;
  color: #0f0f0f;
  margin: 30px 0 45px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  input {
    font-size: 22px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 6px;
  }
}