.app {
  font-family: sans-serif;
  width: 100%;

  section {
    margin-top: 50px;
    box-sizing: border-box;
    padding: 0 24px;
    width: 100%;
  }

  h1, h2, h3 {
    width: 100%;
    text-align: center;
    padding: 30px 0 20px;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    display: flex;
  }

  li {
    margin: 10px;
  }
}
