
body {
    display: flex;
    flex-direction: column;
}
.inp {
    outline: none;
    border:2px solid grey;
}
.data {
    outline: none;
    width: 180px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.focus {
    border: 2px solid green;
}
.invalid {
    border: 1px solid red;
}
.valid {
    border: 2px solid black;
}
.color {
    color: green;
}


