    * {
      margin: 0;
         padding: 0;
        box-sizing: border-box;
        font-family:sans-serif;
        text-align: center;
    }

   body {
        width: 1280px;
       height: 789px;
        margin: 0 auto;
    }

    .header-menu {
        height: 15px;
        margin: 32px;
        font-weight: bold;
    }
        .header-menu-item {
            display: inline-block;
            list-style: none;
            margin-left: 72px;
        }

    .header-menu-item-link {
        text-decoration: none;
        color: red;
    }

    .container {
        width: 1280px;
        text-align: center;

    }


    .title {
     font-weight: bold;
        font-size:22px ;
        line-height:27px ;
        color: black;
        margin: 48px;
        text-align: center;
    }

    .subtitle {
        width: 1280px;
        font-size: 16px;
        line-height: 26px;
        margin-top: 10px;
        margin-bottom: 28px;
        text-align: center;
        padding: 0 150px;
        text-indent: 20px;
    }
    .button {
        cursor: pointer;
        width: 191px;
        height: 51px;
        background: #FF0000;
        border-radius: 4px;
    }
    .text {
        font-size: 12px;
        line-height: 12px;
        color: white;
        margin: 90px 0;
    }
    .footer {
       width:1070px;
        height: 39px;
        right: 105px;
        bottom: 29px;
        text-align: right;
        font-weight: bold;

    }
