
    body {
        width: 100%;
        height: 100%;
        font-family: sans-serif;
        font-weight: 700;
        color: #F1AD1D;
        background: url("../img/zvezdnoe-nebo.png");
        overflow: hidden;
    }
    .titles {
        position: absolute;
        width: 18em;
        height: 50em;
        bottom: 5px;
        left: 50%;
        margin-left: -9em;
        font-size: 450%;
        font-weight: bold;
        text-align: justify;
        overflow: hidden;
        transform-origin: 50% 100%;
        transform: perspective(600px) rotateX(25deg);
    }
    /*.titles::after {*/
    /*    position: absolute;*/
    /*    content: "";*/
    /*    left: 0;*/
    /*    right: 0;*/
    /*    top: 0;*/
    /*    bottom: 60%;*/
    /*    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);*/
    /*    pointer-events: none;*/
    /*}*/
    .title-content {
        position: absolute;
        top: 100%;
        animation: scroll 20s linear infinite;
    }
    .content-text-h1 {
        text-align: center;
        margin-bottom: 80px;
        font-weight: bolder;
        font-size: 60px;
        line-height: 60px;
    }
    .content-text-h2 {
        text-align: center;
        margin-bottom: 50px;
        font-weight: bolder;
        font-size: 60px;
        line-height: 60px;
    }
    .content-text-p {
        font-weight: bolder;
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 40px;
    }
    .content-text-p2 {
        font-weight: bolder;
        font-size: 60px;
        line-height: 60px;
    }
    @keyframes scroll {
        0% {
         bottom: 100%;
        }
        100% {
            top: -100%;
        }
    }

