.container {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: auto;
    background: white;
}
    .header-link {
        font-size: 80px;
        line-height: 94px;
        color: aqua ;
    }
    .letter {
        color: #333333;
    }

    .header-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        line-height: 28px;
        background: #35444F;
        margin-top: 38px;
    }

    .header-menu-navigation {
        padding: 26px 19px;
        border: 1px solid white;
    }
    .header-menu-navigation:hover {
        background-color: #333333;
    }

    .header-menu-link {
        color: white;
        text-decoration: none;

    }
    .header-menu-link-a {
        color: white;
        text-decoration: none;
    }
    .main {
        display:flex;
        background: white;
    }
    .main-aside {
        display: inline-block;
        width: 342px;
        height: 435px;
        border: 1px solid black;
        margin: 48px 52px 484px 0;
    }
    .text {
        padding: 30px 20px;
       /*text-align: center;*/
    }
        .text:hover {
             background-color:  #828282;
            padding-left: 70px;

}
    .text-link {
        color: black;
        font-size: 27px;
        line-height: 27px;
        text-decoration: none;
    }

    .main-content {
        width: 885px;
        height: 529px;
        border: 1px solid black;
        margin-top: 48px;
        background: white;

    }
    .main-content-img {
        height: 381px;
        width: 320px;
        padding: 75px 270px;

    }
    .zoom {
    transition: transform 1s;
    }

    .zoom:hover {
        transform: scale(1.2);
    }
    .main-content-text {
        width: 885px;
        height: 120px;
        padding-top: 35px;
        font-size: 18px;
        line-height: 24px;
    }
    .main-content-text2 {
        font-size: 18px;
        line-height: 24px;
    }
    .footer {
        display: flex;
        height: 69px;
        background: rgba(99, 105, 110, 0.48);
        margin-bottom: 5px;
    }
    .footer-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 928px;
        height: 69px;

    }
    .footer-block-text {
        font-size: 28px;
        line-height: 28px;
        padding-left: 40px;
    }
    .footer-block-text-link {
        color: black;
        text-decoration: none;
    }

    .footer-block-text-link:hover {
       color: cornflowerblue;
        text-decoration: underline ;
    }
    .footer-text {
        display: flex;
        font-size: 24px;
        line-height: 24px;
        align-items: center;
        margin-left: 110px;
    }



