    body {

        width: 100%;
        height: auto;
    }
        .container {
            width: 1200px;
            margin: 0 auto;
        }


    .menu {
        height: 438px;
         background-image: url("../img/header-bg.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        box-shadow: 0 0 0 300px rgb(0 0 0 / 25%) inset;
        background-attachment: fixed;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        width: 1900px;
        height: 70px;
        background: #313131;
    }
    .navbar-menu-item-1 {
        display: flex;
        justify-content: left;
        width: 124px;
        height: 26px;
    }
    .navbar-menu-item-img {
        width: 27px;
        height: 27px;
        padding:25px 25px 18px 25px ;
    }
    .navbar-menu-item-link-1 {
    color: white;
        font-size: 22px;
        line-height: 30px;
        padding: 22px 0 22px 20px;
    }
    .navbar-menu {
       display: flex;
        justify-content: center;
        padding-top: 25px;
    }
    .navbar-menu-item {
    padding-right: 35px;
    }
    .navbar-menu-item-link {
        color: white;
        font-size: 15px;
        line-height: 20px;
        text-decoration: none;
        font-weight: bold;
    }
    .navbar-menu-img {
        width: 68px;
        height: 70px;
        background-image: url("../img/img_3.png");
    }
    .navbar-img {
        width: 17px;
        height: 17px;
        padding: 25px 25px;
    }
    .header {
        height: 369px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-item {
        color: white;
        font-size: 27px;
        line-height: 37px;
        font-weight: bold;
    }
    .header-button {
        display: flex;
        justify-content: center;
        margin-top: 45px;
    }
    .header-button-link {
        border-radius: 2px;
        width: 170px;
        height: 55px;
        background-color:#89CA62;
        border: none;
        color: white;
        font-size: 18px;
        line-height: 25px;
        cursor: pointer;
    }
        .header-button-link-2 {
            border-radius: 2px;
            width: 170px;
            height: 55px;
            background-color:  #14B9D5;
            margin-left: 20px;
            border: none;
            color: white;
            font-size: 18px;
            line-height: 25px;
            cursor: pointer;
        }

    .header-button-link-text {
        color: white;
    }

    .main {
        background: #E5E5E5;
    }

    .items-posts {
        text-align: center;
        color:#18B4CF;
        font-size: 27px;
        line-height: 37px;
        padding-bottom: 50px;
        padding-top: 49px;
    }
        .items-posts-images {
           display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: space-between;
             height: 900px;
        }
    .items-images {
         width: 370px;
        background: white;
        margin-bottom: 30px;
    }
    .items-images-img {
      width: 100%;
    }
    .items-images-text {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        font-weight: bold;
        margin: 20px 0 ;
    }
    .poster {
        background-image: url("../img/parallax-bg.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
    }
    .poster-text {
        color: white;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        padding:  105px 700px 80px 700px;
    }
    .poster-text-hr {
        width: 60px;
        height: 3px;
        background: #18B4CF;
    }
    .poster-content {
       display:inline-grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        padding-top: 100px;
        padding-left: 500px;
        padding-bottom: 100px;
    }
    .posts {
        color: #18B4CF ;
        font-size: 27px;
        line-height: 37px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .collage{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr ));
    }
    .collage-foto {
        width: 272px;
        height: 190px;
    }
    .box {
        height: auto;
        margin-right: auto;
        margin-left: auto;
        row-gap: 35px;
        display: grid;
        grid-column-gap: 40px;
        /*grid-template-columns: repeat(4, 1fr);*/
        grid-template-areas: "one one one two"
                            "three three four four"
                            "five five six six"
                            "seven eight eight eight";

    }
    .one {
        width: 856px;
        height: 260px;
        grid-area: one;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 40px;
    }
    .image-one {
        width: 483px;
        height: 260px;
        background-image: url("../img/img_21.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .text-one-items {
        font-weight: bold;
        margin: 40px 25px 15px 30px;
        text-align: right;
        font-size: 18px;
        line-height: 25px;
    }
    .text-one {
        color: #333333;
        text-align: right;
        font-size: 14px;
        line-height: 21px;
        margin-right: 25px;
    }
    .two {
         width: 275px;
        height: 260px;
    }
    .image-two {
        width: 275px;
        height: 210px;
        background-image: url("../img/img_22.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .text {
        font-size: 18px;
        line-height: 25px;
        font-weight: bold;
        text-align: center;
        padding: 10px 25px;
    }
    .three {
        grid-area:three ;
        width: 554px;
        height: 418px;
    }
    .image-three {
        width: 554px;
        height: 259px;
        background-image: url("../img/img_23.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .text-three-items {
        font-size: 18px;
        line-height: 25px;
        text-align: right;
        font-weight: bold;
        margin: 13px 15px 13px auto;
    }
    .text-three {
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        margin-left: 13px;
        margin-right: 13px;
    }
    .four {
        grid-area:four;
        width: 554px;
        height: 418px;
    }
        .image-four {
    width: 554px;
    height: 259px;
            background-image: url("../img/img_24.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .text-four-items {
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            text-align: right;
            margin: 15px 27px 15px auto;
        }
        .text-four {
            font-size: 14px;
            line-height: 21px;
            text-align: right;
            margin-left: 13px;
            margin-right: 13px;
        }
        .five {
            grid-area:five  ;
            width: 554px;
            height: 416px;
        }
        .image-five {
            width: 554px;
            height: 259px;
            background-image: url("../img/img_25.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .text-five-items {
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            text-align: right;
            margin: 15px 27px 15px auto;
        }
        .text-five {
            font-size: 14px;
            line-height: 21px;
            text-align: right;
            margin-left: 13px;
            margin-right: 13px;
        }

    .six {
        grid-area:six ;
        width: 554px;
        height: 416px;
    }
    .image-six {
        width: 554px;
        height: 259px;
        background-image: url("../img/img_26.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .text-six-items {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-align: right;
        margin: 15px 27px 15px auto;
    }
    .text-six {
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        margin-left: 13px;
        margin-right: 13px;
    }
    .seven {
        grid-area: seven;
        width: 275px;
        height: 260px;
    }
    .image-seven {
        width: 277px;
        height: 210px;
        background-image: url("../img/img_27.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .eight {
        grid-area:eight ;
        width: 856px;
        height: 260px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .image-eight {
        width: 483px;
        height: 260px;
        background-image: url("../img/img_28.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 70px;
    }
    .text-eight-items {
        font-size: 18px;
        line-height: 25px;
        text-align: right;
        font-weight: bold;
        margin: 40px 25px 15px 60px;
    }
    .text-eight {
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        margin: 15px 25px 40px auto;
    }
    .footer {
        background: #000000;
        margin-top: 40px;
        margin-bottom: 2px;
        display: flex;
        justify-content: space-between;
    }
    .footer-text {
        color: #FFFFFF;
        font-size: 13px;
        line-height: 13px;
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 360px;
    }
    .footer-img-logo {
        width: 38px;
        height: 24px;
        margin-top: 30px;
        margin-left: 560px;
    }
    .footer-text-logo {
        color: white;
        text-transform: uppercase;
        /*width: 64px;*/
        /*height: 16px;*/
        margin-top: 30px;
        margin-right: 385px;
        margin-left: -65px;
    }