.root {
  margin: 10px 0 30px;
  width: 100%;
  display: flex;
  justify-content: center;


  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.inputWrapper {
  display: flex;
  width: 100%;
}

.input {
  margin: 0 10px 15px !important;
  width: calc(33% - 10px);

  &:first-of-type {
    margin-left: 0!important;
  }

  &:last-of-type {
    margin-right: 0!important;
  }
}