body {
    background-color: gray;
}
.info {
    display: flex;
    width: 1200px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 50px;
    background-color: #fff;
    column-gap: 60px;
}
.info-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.info-item::before {
    content: '';
    width: 72px;
    height: 4px;
    position: absolute;
    background: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%);
    top: 200px;
    left: 0;
}
.info-item-title {
    font-size: 36px;
    font-weight: bold;
    padding: 22px;
    background: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%);
    color: white;
    border-radius: 6px;
    margin-bottom: 26px;
}
.info-item-subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #031d5b;
    margin-bottom: 51px;
}
.info-item-text {
    line-height: 28px;
    color: #3a3a44;
}

.main-title {
    font-weight: bold;
    font-size: 200px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.2px;
    color: transparent;
    background: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%);
    -webkit-background-clip: text;
}

