@import "variables";

.body {
  width:auto;
  height: auto;
  font-family: 'Roboto', sans-serif;
  background: #FFFFFF;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: $tablet) {
  .container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

}
@media (max-width: $mobile) {
  .container {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}