@import "mixins";
@import "variables";

.main {
  margin-top: 69px;
}
.main__title {
  font-style: normal;
 @include font-weight;
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 25px;
}
.main__menu {
 @include displayFlex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main__item {
 @include displayFlex;
  width: 50%;
  margin-bottom: 32px;
}
.main__text {
  margin-left:20px ;
}
.main__item-title {
  @include font-weight;
  font-size: 16px;
  line-height: 30px;
  color: #4E4E4E;
}
.main__item-info {
  font-size: 12px;
  line-height: 20px;
  color: #7C7C7C;
}
.main__item-text {
  font-size: 14px;
  line-height: 26px;
  color: #5C5C5C;
}
@media (max-width: $tablet) {

  .main__menu {
    display: flex;
    flex-direction: column;
  }
  .main__item {
    width: 80%;
  }
}
@media (max-width: $mobile) {
  .main__item {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .main__text {
    margin-left: 0;
    margin-top: 11px;
  }
  .main__item:last-child {
    display: none;
  }
  .main__item-text {
    display: none;
  }
}