@import "reset";
@import "base";
@import "header";
@import "main";
@import "footer";


//
//body {
//   width:auto;
//   height: auto;
//   font-family: 'Roboto', sans-serif;
//   background: #FFFFFF;
//}
//.container {
//   max-width: 1170px;
//   margin-left: auto;
//   margin-right: auto;
//}
//
//
//.header {
//  margin-top: 29px;
//}
//.header__menu {
//    list-style-type: none;
//        display: flex;
//    justify-content: space-around;
//      margin-bottom:34px ;
//    padding: 16px 179px;
//}
//.header__mobile-menu {
//    list-style-type: none;
//   margin-left: 70%;
//   position: absolute;
//   display: none;
//   width: 182px;
//   height: 200px;
//   background: #F5F5F5;
//   padding-left: 10px;
//}
//.header__img-icon {
//   display: none;
//   width: 44px;
//   height: 37px;
//}
//.header__item {
//   font-size: 11px;
//    line-height: 22px;
//   font-weight: normal;
//   height: 22px;
//}
//.header__link {
//    text-decoration: none;
//    color: #4E4E4E;
//}
//.header__link:hover {
//     color: #57A4A4;
//}
//.header__image {
//   width: 100%;
//}
//.main {
//  margin-top: 69px;
//}
//.main__title {
//   font-style: normal;
//   font-weight: bold;
//   font-size: 19px;
//   line-height: 22px;
//   margin-bottom: 25px;
//}
//.main__menu {
//  display: flex;
//   justify-content: space-between;
//  flex-wrap: wrap;
//}
//.main__item {
//display: flex;
//   width: 50%;
//  margin-bottom: 32px;
//}
//.main__text {
//   margin-left:20px ;
//}
//.main__item-title {
//  font-weight: bold;
//   font-size: 16px;
//   line-height: 30px;
//  color: #4E4E4E;
//}
//.main__item-info {
//   font-size: 12px;
//   line-height: 20px;
//  color: #7C7C7C;
//}
//.main__item-text {
//  font-size: 14px;
//  line-height: 26px;
//   color: #5C5C5C;
//}
//.footer {
//   width: 100%;
//   background: #000000;
//  display: flex;
//   flex-flow: column wrap;
//  text-align: center;
//}
//.footer__title {
//   font-weight: bold;
//   font-size: 20px;
//  line-height: 22px;
//   color: #FEFEFE;
//   text-align: center;
//   padding-top: 66px;
//}
//.footer__text {
//   font-size: 16px;
//   line-height: 28px;
//  color: #B9B9B9;
//   align-items: center;
//   text-align: center;
//   margin-top: 22px;
//}
//.footer__block {
//  margin-top: 37px;
//   width: 192px;
//   height: 34px;
//   mix-blend-mode: normal;
//   opacity: 0.77;
//   margin-left: auto;
//   margin-right: auto;
//}
//.footer__icon {
//   width: 34px;
//   height: 34px;
//}
//.footer__text-info {
//   font-size: 16px;
//   line-height: 26px;
//   color: #B9B9B9;
//   margin-bottom: 70px;
//}
//@media (max-width: 768px) {
//   .container {
//      max-width: 720px;
//      margin-left: auto;
//      margin-right: auto;
//   }
//   .header__menu {
//      display: none;
//       list-style-type: none;
//   }
//   .header__img-icon {
//      display: block;
//      margin-left: 90%;
//      margin-top: 44px;
//      margin-bottom: 45px;
//      cursor: pointer;
//   }
//   .header__img-icons {
//      display: none;
//      margin-left: 90%;
//      margin-top: 44px;
//      margin-bottom: 45px;
//      cursor: pointer;
//   }
//.main__menu {
//   display: flex;
//   flex-direction: column;
//}
//.main__item {
//   width: 80%;
//}
//}
//@media (max-width: 360px) {
//   .container {
//      max-width: 340px;
//      margin-left: auto;
//      margin-right: auto;
//   }
//.header__menu {
//  display: none;
//    list-style-type: none;
//}
//   .header__mobile-menu {
//      margin-left: 44%;
//       list-style-type: none;
//   }
//   .header__img-icon {
//      display: block;
//      margin-left: 85%;
//      margin-top: 15px;
//      margin-bottom: 15px;
//      cursor: pointer;
//   }
//   .header__img-icons {
//      display: none;
//      margin-left: 85%;
//      margin-top: 15px;
//      margin-bottom: 15px;
//      cursor: pointer;
//   }
//   .main__item {
//      display: flex;
//      flex-direction: column;
//      width: 80%;
//   }
//   .main__text {
//    margin-left: 0;
//      margin-top: 11px;
//   }
//   .main__item:last-child {
//      display: none;
//   }
//   .main__item-text {
//      display: none;
//   }
//
//
//}