* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    padding: 24px;
    box-sizing: border-box;
}

h1 {
    font-size: 28px;
    line-height: 32px;
}

p {
    margin: 20px 0;
    font-size: 20px;
    line-height: 24px;
    min-height: 40px;
}

button {
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    filter: brightness(.9);
    font-size: 16px;
    line-height: 20px;
}

button:hover {
    filter: brightness(1);
}
