.root {
  box-sizing: border-box;
  padding: 0 24px;
  width: 100%;
  margin-top: 100px;

  h1 {
    width: 100%;
    text-align: center;
  }
}

.postsContainer {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}
