.table {
  width: 1160px;
  height: 736px;
  background: #FFFFFF;
  border: 10px solid  #3A4965;
  margin: 50px auto;
}
th {
  position: relative;
  border: 1px solid grey;
  width: 284px;
  height: 73px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.th-5::after {
  position: absolute;
  content:"99";
  font-size:15px;
  top: 20px;
  left: 160px;
}
span {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  padding-top: 10px;
}
.th-1 {
color: black;
  padding-top: 30px;
}
.th-2 {
  background-color: #89C331;
}
.th-3 {
  background: #F04A56;
}
.th-4 {
  background: #20807C;
}
.th-5 {
  color: black;
  padding-top: 25px;
}
.table-body {
  color: #484848;
}
tr {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  background: #F2F2F2
}
td {
  width: 280px;
  height: 72px;
  border: 1px solid grey;
  padding-top: 30px;
}
.tr-1 {
  background-color: #E3E3E3 ;
}
.tr-2 {
  background-color: #E3E3E3 ;
}
.tr-3 {
  background-color: #E3E3E3 ;
}
button {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #E5E5E5;
  border: none;
  cursor: pointer;
}
.foot1 {
  background-color: black;
}
.background {
  background-color: #E3E3E3 ;
}
.foot2 {
  background-color: #89C331;
}
.foot3 {
  background: #F04A56;
}
.foot4 {
  background: #20807C;
}