.modal {
    height: 100vh;
    width: 100vw;
    background-color:rgba(0, 0, 0, .7) ;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
     max-width: 700px;
     background-color:red;
 }

.modalHeader {
     font-weight: bold;
     font-size: 30px;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
    padding-left: 25px;
    padding-right: 15px;
     background-color: darkred;
 }

span:hover {
    cursor: pointer;
    color: white;
}

.modalBody {
     padding: 30px;
 }

.bodyText {
    font-size: 20px;
    text-align: center;
     color: white;
  margin-left: 20px;
  margin-right: 20px;
}


