* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  font-family: sans-serif;
  min-height: 100vh;
  height: auto !important;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 50px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  width: 100%;
}

h1 {
  margin: 50px 0 25px;
}

p {
  margin: 30px 0;
  font-size: 22px;
}

img {
  border-radius: 8px;
}

