.header {
    width: 100%;
    height: 50px;
    background-color: slateblue;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

.header__content-container {
    width: 100%;
    height: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 24px;
}

.header__logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
}

.header__logo svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
