.root {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 12px 12px;
  position: relative;
  margin: 10px;
  border-radius: 6px;
  border: 1px solid grey;
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.favButton {
  padding: 4px !important;
  min-width: unset!important;
  margin-left: 10px !important;
}

.title {
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0 10px;
}

.imgContainer {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-repeat: no-repeat;
  background-color: lightgray;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-bottom: 10px;
}

.caption {
  font-size: 11px;
  color: grey;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}