.item {
  width: 200px;
  box-sizing: border-box;
  padding: 36px 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 8px;
  border: 1px solid gray;
  position: relative;

  div {
    width: 180px;
    height: 180px;
    border-radius: 5px;
  }

  span {
    font-size: 20px;
    font-weight: 700;
    margin: 15px;
  }
}

.favourite {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 24px !important;
  height: 24px !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}