body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__container {
  background-color: grey;
  color: white;
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__burger-btn {
  width: 25px;
  height: 25px;
  background: #00f;
  border: #fff solid 1px;
}

.article__block {
  background-color: blue;
  box-sizing: border-box;
  padding: 12px 16px;
}
.article__text {
  color: white;
  font-family: sans-serif;
}
.footer__block {
  background-color: black;
}
.footer__text {
  color: white;
  padding: 15px 13px;
  font-family: sans-serif;
  text-align: center;
}

.sidebar__block {
  background-color: green;
  max-height: 200px;
}

.sidebar__content {
  color: white;
  padding: 15px 13px;
}

.navbar__menu {
  background-color: #f00;
  display: none;
  height: 200px;
}

.navbar__menu--is-active {
  display: flex;
  position: absolute;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.navbar__text {
  color: #fff;
  padding: 10px;
}

@media (min-width: 768px) {

  .main-content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

.navbar__menu--is-active {
  position: static;
}

  .navbar__menu {
    display: block;
    flex-basis: 100px;
    max-width: 100px;
    writing-mode: vertical-lr;
    align-self: stretch;
    height: auto;
  }

  .article__block {
    flex-grow: 1;
    max-width: calc(100% - 100px);
  }

  .sidebar__block {
    flex-basis: 100%;
  }
}

@media (min-width: 1024px) {

  .main-content {
    flex-wrap: nowrap;
  }

  .navbar__menu {
    max-width: 150px;
    flex-basis: 150px;
  }

  .sidebar__block {
    max-width: 150px;
    flex-basis: 150px;
    writing-mode: vertical-lr;
  }
}