.root {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.input {
  min-width: 60% !important;
}

.btn {
  margin-left: 30px !important;
}

.line {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  margin: 40px 0;
}