@use "../variables";
@use "../mixins";

.card-container {
  margin: 60px 0;
}

.card-container__content-container {
  @include mixins.root;
  @include mixins.save_padding;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 60px;
  justify-items: center;
  align-items: center;
}

.card-container__card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 16px 1px rgba(0,0,0,0.7);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;

  img {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 20px;
  }

  p {
    color: variables.$text-color;
    font-size: 18px;
    line-height: 24px;
  }

  &--disabled {
    box-shadow: unset;
    background: lightgray;
    filter: brightness(.8);
    opacity: .8;

    &::after {
      content: 'Out of stock';
      color: variables.$background-primary;
      font-size: 70px;
      font-weight: 800;
      position: absolute;
      width: 90%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


@media (min-width: variables.$tablet) {
  .card-container__content-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: variables.$desktop) {
  .card-container__content-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
