@use "../variables";
@use "../mixins";

.header {
  width: 100%;
  height: 50px;
  background: variables.$background-primary;
  box-sizing: border-box;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header__content-container {
  @include mixins.root;
  @include mixins.save_padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__logo {
  font-size: 16px;
  font-weight: 600;
}

.header__navigation {
  display: none;
}

.header__burger-button {
  border: none;
  outline: hidden;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: unset;
  cursor: pointer;

  span {
    width: 22px;
    height: 2px;
    background: white;

    &:nth-of-type(2) {
      margin: 5px 0;
    }
  }
}


@media (min-width: variables.$desktop) {
  .header__burger-button {
    display: none;
  }

  .header__navigation {
    display: flex;

    ul {
      display: flex;
      list-style: none;

      li {
        margin: 0 10px;
      }
    }
  }
}
