.theme {
  background: #192841 !important;
  color: #fdfff5 !important;
}

.header {
  background: #548b97 !important;
  color:  #192841 !important;

  a {
    color:  #192841 !important;
  }
}

.user {
    filter: brightness(.5);
    transition: .2s ease-in-out;

  &:hover {
      filter: brightness(1);
  }
}