.header {
  height: 60px;
  width: 100%;
  background: lightgrey;
  box-sizing: border-box;
  padding: 0 24px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  img {
    margin: 0 20px;
  }
}

.title {
  font-size: 24px;
  font-weight: 800;
  text-transform: capitalize;
}

.wrapper {
  display: flex;
  align-items: center;
}

.emails {
  border-right: 1px solid black;
  box-sizing: border-box;
  padding-right: 20px;
}

.profile {
  display: flex;
  align-items: center;

  span:first-of-type {
    margin-right: 5px;
  }
}
