    .page {

        background-image: url("../img/img.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .container {
            width: 1030px;
            margin: 0 auto;
    }
    .header {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
   .header-logo-link {
       color:white;
       text-decoration: none;
       width: 1030px;
   }
   .header-logo-link:hover {
       color:darkorange;
   }

    .header-logo {
        display:flex;
        width: 55px;
        height: 50px;
    }
    .header-logo-link:hover .header-logo-img {
    content: url("../img/logo 2.png");

    }
    .header-logo-text {
        font-size:28px;
    padding-left: 5px;
    }

    .header-logo-text-2 {
        font-size: 15px;
        padding-left: 8px;
        padding-top: 5px;
    }
    .header-contact-link {
        text-decoration: none;
        color: white;
    }
    .header-contact-link:hover {
        color:darkorange ;
    }
    .header-contact-text {
        padding-top: 20px;
      padding-left: 55px;
    }
    .main {
        display: grid;
        grid-template-areas: "one two three"
                            "four five six";
        justify-content: space-between;
    }
    .main-link {
        text-decoration: none;
    }
    .main-link:hover .main-images-text {
        color:darkorange ;
    }


    .main-images-one {
        grid-area: one;
        position: relative;
        overflow: hidden;
    }
    .main-images-one:hover .main-images-one-hover  {
        bottom:0;
        margin-bottom:70px;
        transition: 0.5s;
    }
    .main-images-img {
        width: 300px;
        height: 220px;
        margin-top: 20px;
        background-image:  linear-gradient(0deg, #f7f2f7 0%, #000808 50%, #ffffff 100%);
        padding: 2px 2px;
    }
    .main-images-one-hover {
        position: absolute;
        background-color:darkorange ;
        color: white;
        width: 304px;
        bottom:-100%;
    }
    .main-images-one-hover-text {
        font-size: 10px;
        line-height: 10px;
        padding: 7px 0 7px 16px;
    }
    .main-images-one-hover-text-2 {
        display: flex;
        justify-content: space-between;
    }
    .text {
        font-size: 20px;
        line-height: 20px;
        padding-left: 16px;
        padding-bottom: 12px;
    }
    .text-2 {
        font-size: 14px;
        line-height: 14px;
        padding-right: 37px;
        position: relative;

    }
    .text-2::after {
        content:"\003E";
        width: 5px;
        height: 10px;
        position: absolute;
        color: white;
        padding-left:14px;
    }
    .main-images-text {
    color: white;
        text-align: center;
        padding: 25px 0 25px 0;
        font-size: 18px;
        line-height: 18px;
    }
    .main-images-two{
        grid-area: two;
        position: relative;
        overflow: hidden;
    }
    .main-images-two:hover .main-images-one-hover  {
        bottom:0;
        margin-bottom:70px;
        transition: 0.5s;
    }
    .main-images-three {
        grid-area: three;
        position: relative;
        overflow: hidden;
    }
    .main-images-three:hover .main-images-one-hover  {
        bottom:0;
        margin-bottom:70px;
        transition: 0.5s;
    }
    .main-images-four {
        grid-area: four;
        position: relative;
        overflow: hidden;
    }
    .main-images-four:hover .main-images-one-hover  {
        bottom:0;
        margin-bottom:70px;
        transition: 0.5s;
    }
    .main-images-five {
        grid-area: five;
        position: relative;
        overflow: hidden;
    }
    .main-images-five:hover .main-images-one-hover  {
        bottom:0;
        margin-bottom:70px;
        transition: 0.5s;
    }
    .main-images-six {
        grid-area: six;
        position: relative;
        overflow: hidden;
    }
    .main-images-six:hover .main-images-one-hover  {
        bottom:0;
        margin-bottom:70px;
        transition: 0.5s;
    }
    .footer-text {
        color: white;
        text-align: center;
        font-size: 12px;
        line-height: 12px;
        margin-top: 50px;
        margin-bottom: 15px;

    }