@mixin placeholder ($width, $height, $border-radius, $margin-bottom: 0) {
  width: $width;
  height: $height;
  background: $placeholder-color;
  border-radius: $border-radius;
  margin-bottom: $margin-bottom;
  opacity: .1;
}
