button {
  padding: 10px 12px;
  background: transparent;
  outline: hidden;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: rgba(255, 255, 255, .3);
}
