footer {
  width: 100%;
  height: 80px;
  background: #20232a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

footer img {
  height: 30px;
}

footer span {
  color: #fff;
}

