$current-container: 1001;

.container-#{$current-container} {
  width: 100%;
  padding: 10px * $current-container;
}

.container-#{$current-container + 1} {
  width: 100%;
  padding: 10px * ($current-container + 1);
}
