

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  width: 100%;
  padding: 20px;
}

.container {
  margin: 20px 0;
  width: 100%;
  height: 200px;
  border: 1px solid gray;
}
