    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
     font-family: sans-serif;}
    .container {
        width: 1170px;
        padding: 0 10px;
        margin: 0 auto;}
        .hero {
            background-image: url(../img/foto.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-top: 530px;
            padding-bottom: 130px;
            color: white;
        }
        .hero-title {
            font-size: 48px;
            line-height: 59px;
            text-transform: uppercase;
        }
            .hero-subtitle {
                font-size: 18px;
                line-height: 22px;
                margin-top: 16px;
                margin-bottom: 22px;
            }
            .hero-slogan {
                text-transform: uppercase;
                font-size: 54px;
                line-height: 66px;
                background-color: rgba(0,0,0,0.5);
                padding-top: 38px;
                padding-bottom: 38px;
                padding-left: 31px;
            }
            .hero-slogan-input {
                color: orange;
                border-right: 1px solid;
                padding: 38px 31px;
            }


            .navigation {
                 border-bottom: 3px solid;
                color: #F1B128 ;
                padding-bottom: 22px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 30px;
                margin-bottom: 50px;
}
            .navigation-title {
                color: #F1B128;
                font-size:28px;
            }
            .navigation-menu {
                display: flex;
                list-style: none;
                flex-basis: 60%;
            }

    .navigation-menu-item {
        margin-left: 69px;
    }
    .navigation-menu-item-link {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
    }
    .navigation-menu-item-link:hover {
        color: orange;
    }

    .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .info-media {
        width: calc(100% / 2 - 15px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 22px;
        }
    .info-media-img {
        position: relative;

    }

    .info-media-img:first-child::before,
    .info-media-img:nth-child(2)::before,
    .info-media-img:nth-child(3)::before,
    .info-media-img:nth-child(4)::before {
       content: "Consulting";
        position: absolute;
        font-size: 14px;
        top: 95px;
        left: 15px;
        color: white;
        padding: 14px 33px 14px 17px;
        display: inline-block;
         background: #333333;
    }
    .info-media-img:nth-child(2):before {
        content: "Photography";
    }
    .info-media-img:nth-child(3):before {
        content: " Web Design";
    }
    .info-media-img:nth-child(4):before {
        content: "Advertising" ;
    }

    .info-desc {
            width: calc(100% / 2 - 15px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;


        }
    .info-desc-title{
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 22px;
    }
    .info-desc-text {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 36px;
    }
    .info-desc-link {
        background: #F1AD1D;
        color: white;
        font-size: 14px;
        padding: 19px 27px;
    }




    .posts {
        display: flex;
        flex-wrap: wrap;
        height: 1000px;
        row-gap: 30px;
        flex-direction: column;
    }
    .posts-item {
        border-bottom: 6px solid #333333;
        padding-bottom: 5px;
        width: 370px;

    }
    .posts-item-img > img {
      width: 100%;


    }
    .posts-item-header{
        display: flex;
        align-items: center;
    }
    .item-header-img {
        padding: 12px;
        background-color: #333333;
        margin-right: 8px;
    }
    .item-header-title {
         font-size:18px ;
        line-height: 22px;
        color: #333333;
        font-weight: bold;
    }
    .posts-item-text {
        font-size: 14px;
        line-height: 17px;
        color: #505050;
        border-bottom: 14px;
        margin-top: 15px;
        padding-bottom: 14px;
    }
    .posts-item-info {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .item-info-date {
    . item-info-link font-size: 12 px;
        line-height: 18px;
        text-transform: uppercase;
        color: #828282;;
    }
    .item-info-link {
        text-decoration: none;
        text-transform: uppercase;
        color: #4e4e4e;
    }


    .team {
        display: grid;
        grid-template-columns: repeat( 6, 1fr);
        margin-bottom: 50px;
    }
    .team-child {
         margin:0 1px ;
    }


    .tabs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }
    .tabs-item {
        position: relative;
         overflow: hidden;
}
    .tabs-item-img {
        width:100%;
 }
    .tabs-item:hover .tabs-item-hover {
        bottom: 0;
        opacity: 1;
        background-color: #D4D4D4;
    }
    .but {
        padding: 10px 20px;
        background-color: #f3a183;
        border-radius: 5px;
        color: black;
        text-decoration: none;
    }
    .tabs-item-hover {
        position: absolute;
        width: 100%;
         height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        bottom:-100%;
        left: 0;
         transition: all 1s;
}




    .pseudo {
        text-align: center;
        margin-top: 200px;
        margin-bottom: 200px;

    }
    .pseudo-title {
        font-size: 22px;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        position: relative;

    }
    .pseudo-subtitle {
        font-size: 17px;
        margin-top: 28px;
        color: #4D4943;;
    }
    .pseudo-title::before {
        width: 60px;
        height: 3px;
        background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
        content: "";
        display: inline-block;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }













    .yellow-color {
   color: #F1B128;}









